.work {
    margin-left: 5%;
    margin-right: 5%;
}

.card {
    border: none;
}

.work__filters {
    display: flex;
    justify-content: center;
    column-gap: 1.875rem;
    margin-bottom: 2.5rem;
}

.works__item {
    cursor: pointer;
    font-weight: var(--font-bold);
    transition: .3s;
}

span:hover {
    color: var(--first-color);
}

.work_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.work__card {
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.work__category {
    color: #fff;
    background-color: var(--first-color);
    border-bottom-left-radius: 0.98rem;
    border-bottom-right-radius: 0.98rem;
    position: absolute;
    top: 0;
    left: 1.5rem;
    font-size: var(--small-font-size);
    display: inline-block;
    padding: 0.19rem 0.625rem;
}

.work_link {
    position: absolute;
    bottom: 0;
}

.work_container.card-group {
    margin: 5%;
}

.card-img-top {
    max-height: 200px;
    object-fit: cover;
}

button.btn.btn-primary {
    margin: 1% 2%;
}

button a {
    color: white;
    text-decoration: none;
}